{% extends 'base.html' %}

{% block content %}
<div class="container">
    booo
    <h1 style="color: orangered;">{{ current_employee.user.username }}'s Tickets</h1>
    <h4 style="color: orangered;">Company: {{ current_employee.company}}</h4>
    <h4 style="color: orangered;">Name: {{ current_employee.firstname }} {{ current_employee.lastname }}</h4>
    <h4 style="color: orangered;">Joined: {{ current_employee.sign_up_date }}</h4>

    <br>
    <br>
    <div class="card">
        <h5 class="card-header bg-warning mb-3" style="color: rgb(74, 75, 77)">ASSIGNED</h5>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Assign To</th>
                        <th scope="col">Reported By</th>
                        <th scope="col">Ticket Age</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ticket in assigned_tickets %}
                    <tr>
                        <th scope="row">{{ticket.id}}</th>
                        <td> <a href="/ticket/{{ticket.id}}" class="card-link"
                                style="color: orange;">{{ ticket.title }}</a></td>
                        <td><a href="/employee/{{ticket.assignedTo}}" class="card-link"
                                style="color: orange;">{{ ticket.assignedTo }}</a></td>
                        <td><a href="/employee/{{ticket.filedBy.user.username}}" class="card-link"
                                style="color: orange;">{{ ticket.filedBy }}</a></td>
                        <td>{{ ticket.date|timesince:now }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <div class="card">
        <h5 class="card-header bg-primary mb-3" style="color: rgb(74, 75, 77)">FILED</h5>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Assign To</th>
                        <th scope="col">Reported By</th>
                        <th scope="col">Ticket Age</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ticket in filed_tickets %}
                    <tr>
                        <th scope="row">{{ticket.id}}</th>
                        <td> <a href="/ticket/{{ticket.id}}" class="card-link"
                                style="color: orange;">{{ ticket.title }}</a></td>
                        <td><a href="/employee/{{ticket.assignedTo}}" class="card-link"
                                style="color: orange;">{{ ticket.assignedTo }}</a></td>
                        <td><a href="/employee/{{ticket.filedBy.username}}" class="card-link"
                                style="color: orange;">{{ ticket.filedBy }}</a></td>
                        <td>{{ ticket.date|timesince:now }}</td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <br>
    <div class="card">
        <h5 class="card-header bg-success mb-3" style="color: rgb(74, 75, 77)">DONE</h5>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Assign To</th>
                        <th scope="col">Reported By</th>
                        <th scope="col">Ticket Age</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ticket in completed_tickets %}
                    <tr>
                        <th scope="row">{{ticket.id}}</th>
                        <td> <a href="/ticket/{{ticket.id}}" class="card-link"
                                style="color: orange;">{{ ticket.title }}</a></td>
                        <td><a href="/employee/{{ticket.assignedTo}}" class="card-link"
                                style="color: orange;">{{ ticket.assignedTo }}</a></td>
                        <td><a href="/employee/{{ticket.filedBy.username}}" class="card-link"
                                style="color: orange;">{{ ticket.filedBy }}</a></td>
                        <td>{{ ticket.date|timesince:now }}</td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}